footer {
  .copyright {
    @include basic;
    display: flex;
    line-height: 3em;
    color: #BABABA;
    a {
      color: #BABABA;
      &:hover {
        color: $hover-color;
      }
    }
  }
}
